<div id="header">
  <div class="logo"><a>logo</a></div>
  
  <div class="link">
       <ul>
          <li>
            <a href="#">メニュー２</a>
          </li>
          <li>
            <a href="#">メニュー２</a>
          </li>
          <li>
            <%= link_to "新規投稿", new_post_path %>
          </li>
       </ul>
  </div>
</div>